DATABASE_URL= 

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RESEND_API_KEY = 
RESEND_SENDER = 

UPLOAD_CONSUMPTION_FOLDER=
UPLOAD_CHALLENGE_POSTER_FOLDER=

NODE_ENV = development # development / production

FRONTEND_URL=

ADMIN_SPECIAL_CODE = 