DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV=development # development / production
FRONTEND_URL=http://localhost:3000
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
# FRONTEND_URL=https://domainmu.com
